/* .leaflet-container {
    height: 100%
}
 */

.hop-list {
    list-style: none;
}

.host-list {
    list-style: none;
}

.host-item {
    color: attr(data-color);
    /* gainsboro */
    background-color: rgba(255, 255, 255, 0.372);
    border-radius: 5px;
    padding: 0.1em 0.6em 0.1em 0.6em;
    color: rgba(0, 0, 0, 0.8);
}

.host-item:hover {
    background-color: rgba(255, 255, 255, 0.618);
    cursor: pointer;
    user-select: none;
    color: rgba(0, 0, 0, 1.0);
}

.host-arrow {
    margin-left: 0.5em;
    margin-right: 0.5em;
    position: relative;
    top: 2px;
}

.host-list-toggler {
    cursor: pointer;
}

.leaflet-control:hover .host-list-togger {
    transform: scale(1.25);
}

.leaflet-control:hover .host-list-collapse, .host-list-expand {
    /* darkblue */
    color: rgba(0, 0, 139, 0.9);
}

.host-list-collapse {
    position: absolute;
    top: -1em;
    right: -1em;
    /* aliceblue */
    color: rgba(240, 248, 255, 0.618);
}