/* .leaflet-container {
    height: 100%
}
 */

.host-tray {
    line-height: 1;
    /* for toggler positioning */
}

.hop-list {
    list-style: none;
}

.host-list {
    list-style: none;
}

.host-item {
    color: attr(data-color);
    /* gainsboro */
    background-color: rgba(255, 255, 255, 0.372);
    border-radius: 5px;
    padding: 0.1em 0.6em 0.1em 0.6em;
    color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-between;
    transition: 0.3s;
}

.host-item:hover {
    background-color: rgba(255, 255, 255, 0.618);
    cursor: pointer;
    user-select: none;
    color: rgba(0, 0, 0, 1.0);
}

.host-list .host-arrow {
    margin-left: 0.5em;
    margin-right: 0.5em;
    position: relative;
    top: 2px;
}

.host-list .host-label, .host-list .dest-label {
    display: inline-block;
    width: 8em;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    text-align: center;
}

.host-list-toggler {
    cursor: pointer;
    transition: 0.25s;
}

.host-tray:hover .host-list-toggler {
    color: white;
}

.host-tray:hover .host-list-collapse {
    transform: scale(1.5);
    top: -1.05em;
    right: -1.05em;
}

.host-list-expand {
    font-size: 1.5em;
    /* darkblue */
    color: rgba(0, 0, 139, 0.9);
}

.host-list-collapse {
    position: absolute;
    top: -0.85em;
    right: -0.85em;
    /* aliceblue */
    color: rgba(240, 248, 255, 0.618);
}

.traceroute-map-editor a {
    color: darkblue;
}

.map-indicator {
    font-size: 1.1em;
    margin: 4px 0 0 0;
    padding: 6px 12px;
    border-radius: 2px;
    display: inline-block;
}

.map-indicator>:first-child {
    margin-right: 0.5em;
}

.map-indicator.error {
    /* 500 */
    font-weight: bold;
    color: #ffffff;
    background: #e02f44;
}

.map-indicator.info {
    font-weight: 500;
    color: black;
    background: rgba(240, 248, 255, 0.618);
    /* color: #ffffff;
    background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(50, 116, 217), rgb(50, 116, 217)) repeat scroll 0% 0%; */
}

.map-indicator.loading {
    color: black;
    background: rgba(240, 248, 255, 0.618);
    font-size: 1.1em;
}

.icon-right-space {
    margin-right: 8px;
}

.hspace {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

a.decorated {
    text-decoration: underline dotted;
}

.point-popup .region-label, .point-popup .host-dest-label {
    text-align: center;
}

.point-popup hr {
    margin: 0.55em auto;
}

.point-popup .hop-nth {
    font-style: italic;
    margin-right: 0.32em;
}

.point-popup .hop-entry {
    display: flex;
    flex-direction: row;
    line-height: 1.2;
}

.point-popup .hop-entry:not(:last-child) {
    margin-bottom: 0.3em;
}

.point-popup .hop-detail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
    /* Some WTF dirty fix for solving hop-detail overflows the width of hop-entry.
        ref: https://stackoverflow.com/questions/38223879/white-space-nowrap-breaks-flexbox-layout */
    min-width: 0;
    margin-right: -0.15em;
}

.point-popup .hop-ip {
    user-select: all;
}

.point-popup .hop-label, .point-popup .hop-ip {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.point-popup .hop-ip:not(:last-child) {
    margin-right: 0.25em;
}

.point-popup .hop-ip-wrapper, .point-popup .hop-label {
    margin-right: 0.15em;
}

.leaflet-popup-content {
    /* It seems that leaflet calculates popup width in tricky ways, preventing flex elements from stretching its content width.
        Here is a probably dirty fix. (TODO: compatibility?)
        ref: https://github.com/Leaflet/Leaflet/blob/bc918d4bdc2ba189807bc207c77080fb41ecc196/src/layer/Popup.js#L211 */
    width: max-content !important;
    max-width: 19.5em;
}

.point-popup .region-label {
    font-size: 1.1em;
}

.point-popup .hop-ip-wrapper {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.route-tooltip {
    display: flex;
    flex-direction: column;
}

.route-tooltip > * {
    flex-grow: 1;
}

.route-tooltip > .hops-abstract {
    display: flex;
    justify-content: center;
}

.route-tooltip > .hops-abstract > .content {
    max-width: 18em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.route-tooltip > .host-dest-label {
    display: flex;
    justify-content: center;
}

.route-tooltip > .host-dest-label > .host-label, .route-tooltip > .host-dest-label > .dest-label {
    max-width: 12em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
