/* .leaflet-container {
    height: 100%
}
 */

.hop-list {
    list-style: none;
}

.host-list {
    list-style: none;
}

.host-item {
    color: attr(data-color);
    /* gainsboro */
    background-color: rgba(255, 255, 255, 0.372);
    border-radius: 5px;
    padding: 0.1em 0.6em 0.1em 0.6em;
    color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-between;
}

.host-item:hover {
    background-color: rgba(255, 255, 255, 0.618);
    cursor: pointer;
    user-select: none;
    color: rgba(0, 0, 0, 1.0);
}

.host-list .host-arrow {
    margin-left: 0.5em;
    margin-right: 0.5em;
    position: relative;
    top: 2px;
}

.host-list .host-label, .host-list .dest-label {
    display: inline-block;
    width: 8em;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    text-align: center;
}

.host-list-toggler {
    cursor: pointer;
}

.leaflet-control:hover .host-list-togger {
    transform: scale(1.25);
}

.leaflet-control:hover .host-list-collapse, .host-list-expand {
    /* darkblue */
    color: rgba(0, 0, 139, 0.9);
}

.host-list-collapse {
    position: absolute;
    top: -1em;
    right: -1em;
    /* aliceblue */
    color: rgba(240, 248, 255, 0.618);
}

.traceroute-map-editor a {
    color: darkblue;
}

.map-indicator {
    font-size: 12px;
    margin: 4px 0 0 0;
    padding: 4px 8px;
    border-radius: 2px;
    display: inline-block;
}

.map-indicator>i:first-child {
    margin-right: 0.5em;
}

.map-indicator.error {
    /* 500 */
    font-weight: bold;
    color: #ffffff;
    background: #e02f44;
}

.map-indicator.loading {
    color: black;
    background: rgba(240, 248, 255, 0.618);
}

.icon-right-space {
    margin-right: 8px;
}

.hspace {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

a.decorated {
    text-decoration: underline dotted;
}

.point-popup .region-label, .point-popup .host-dest-label {
    text-align: center;
}

.point-popup hr {
    margin: 0.55em auto;
}

.point-popup .hop-nth {
    font-style: italic;
}
